---
import LinkButton from "../LinkButton/LinkButton.astro";
import Link from "../icons/Link.astro";
import GitHub from "../icons/Github.astro";
import {PROJECTS} from '../../data/proyects'
import LinkInline from "../icons/LinkInline.astro";


---

<div class="article-container flex flex-col gap-y-16">
  {
    PROJECTS.map(({data, image, title, description, tags, link, github ,dinamicPage}) => (
      <article class="flex flex-col space-x-0 space-y-8  md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl 
          md:hover:-translate-y-1 md:hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img alt="Recién llegado vs 5 años en Nueva Zelanda" class=" object-top w-full h-[13rem] transition duration-500  md:scale-110 md:hover:scale-105" loading="eager"  src={image} />
          </div>
        </div>
        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100" data-i18n={`${data===1?'PROYECT1':"PROYECT3"}`}>
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-wrap mb-2 gap-x-2 gap-y-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400" data-i18n={`${data===1?'PROYECT2':"PROYECT4"}`}>
              {description} 
              {/* {
      dinamicPage && (
        <LinkInline href={dinamicPage}>
          Saber más{" "}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 icon icon-tabler icon-tabler-chevron-right"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <>
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M9 6l6 6l-6 6" />
            </>
          </svg>
        </LinkInline>
      )
    } */}
            </div>
            <footer class="flex items-end justify-start mt-2 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>


<style>
@media (width >= 1024px) {
.article-container article:nth-of-type(2) img{
  height: 180px;
}}
</style>