---
import Layout from "../layouts/Layout.astro"
const {proyect}=Astro.params
import { PROJECTS } from "@/data/proyects";

const info=PROJECTS.find((p)=>p.id===proyect)

if(!info){
    return Astro.redirect("/404",404)
}
---

<Layout title=`${info.id}  proyect page-view` description="full data of my proyect"
showHeader={false} >
<h1>{info.id}</h1>
<p>{info.fullDescription}</p>
    
</Layout>